<div class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label for="name">Message</mat-label>
    <input matInput #message maxlength="64" placeholder="Ex. I need help with..." id="name" type="text" [formControl]="name">
  
   <!--  <input type="text" [(ngModel)]="employeeDetails.name" class="form-control" placeholder="Name"> -->

    <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
    <mat-hint align="end">{{message.value.length}} / 64</mat-hint>
  </mat-form-field>
  <button type="button" (click)="search()" mat-raised-button color="primary">Search</button>
</div>

  
   <!-- <h2>The value is: {{name.value}} id: {{name.value}}</h2> -->
    <div *ngIf="searchPrompt">  
     <!-- <h2>The final is: {{searchPrompt}} </h2> -->
      <app-reply search = {{searchPrompt}}></app-reply>
      <app-basic-table search = {{searchPrompt}}></app-basic-table>
    </div>
  
  <mat-divider></mat-divider>
  <div>The value is: {{message.value}}   </div>   