<h2>prompt works!</h2>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label for="name">Message</mat-label>
      <input matInput #message maxlength="16" placeholder="Ex. I need help with..." id="name" type="text" [formControl]="name">
  
      <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 16</mat-hint>
    </mat-form-field>
  </form>
  <div>
    <h2>The value is: {{name.value}} id: {{name.value}}</h2>
    <button type="button" (click)="updateName()">Update Name</button>
    <div *ngIf="final.value">  
      <h2>The final is: {{final.value}} </h2>
      <app-reply></app-reply>
    </div>
  </div>
  