 <!-- <p>app-basic-table works!</p> -->

<mat-table [dataSource]="snippets" >
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="question">
      <mat-header-cell *matHeaderCellDef> Question </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.question}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="year">
        <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.year}} </mat-cell>
    </ng-container>
    
    <!-- Symbol Column -->
    <ng-container matColumnDef="confidence">
        <mat-header-cell *matHeaderCellDef> Confidence </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.confidence}} </mat-cell>
      </ng-container>
    
    <!-- Symbol Column -->
    <ng-container matColumnDef="result">
        <mat-header-cell *matHeaderCellDef> Result </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.result}} </mat-cell>
      </ng-container>
    
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <!-- Copyright 2022 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at https://angular.io/license 

 id: number;
    question: string;
    country: string;
    year: number;
    confidence: any;
    result: string;-->